.header {
    font-size: 2rem;
}


.formInput {
    height: 32px;
    width: 150px;
    transition: 0.2s;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #065FA8;
    border: none;
    
}

.formInput:hover{
    border: solid white;
    border-color: #646cff;
    box-shadow: 0 0 4px 4px rgba(44, 176, 247, 0.7); 
    border-color: rgb(255, 255, 255);
}

.formInput::placeholder{
    color: rgb(192, 192, 192)
}


.submitButton {
    width: 70px;
    height: 32px;
    margin: 15px;
    border-radius: 8px;
    background-color: #065FA8;
    border: 1px solid transparent;
    /* font-size: 1em;
    font-weight: 500; */
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    color: aliceblue;
    transition: 0.2s;
}

.submitButton:hover {
    box-shadow: 0 0 4px 4px rgba(44, 176, 247, 0.7); 
    border-color: rgb(252, 243, 169);
    background-color: #2b85ce;

}



/* .openButton {
    height: 50px;
    width: 160px;
    margin: 12px auto;
}

.closeButton {
    margin: 12px auto;
} */
