.chatBox {
    display: flex; 
    flex-direction: column;
    /* justify-content: space-between; */
    justify-content: flex-end;
    position: relative;
    height: 70vh;
    /* width: 80vw; */
    background-image: url("../assets/millennium_bg.png");
    background-size: cover;
    background-color: rgb(20, 31, 62);
    border: solid white; 
    margin-top: 20px;
    border-radius: 20px;
    padding: 0 3em 3em;
}

.chatInputField {
    align-self: center;
    width: 100%;
    border-radius: 20px;
    transition: 0.5s;
    background-color: #004176;
    font-size: 16px;
    border: solid white; 
    text-decoration: none;
    padding: 1em;
    color: white; /*not working?*/
    resize: none;
    height: 4em;
    min-height: 4em;
    /* overflow: auto; */
}

.chatInputField::placeholder {
    color: rgb(196, 196, 196);
}

.chatInputField:hover {
    box-shadow: 0 0 4px 4px rgba(137, 214, 255, 0.7); 
    /* border-color: rgb(252, 243, 169); */
    .chatInputField::placeholder{
        color: white;
    }

}

.sourcetag {
    position: absolute;
    top: 50px;
    bottom: 10px;
}

.messageBox {
    flex-direction: column;
    align-items: flex-end;
    width: inherit;
    /* overflow:scroll; */
    overflow-x: hidden;
    /* margin-bottom: 20px; */
}

.messageBox::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
  
.messageBox::-webkit-scrollbar-button {
    display: none;
}

.messageBox::-webkit-scrollbar-track {
    background-color: transparent;
    margin: 6px;
}

.messageBox::-webkit-scrollbar-thumb {
    background-color: rgba(240, 248, 255, 0.33);
    border-radius: 6px;
}

/* .messageContainer {
    text-align: left;
    margin: 2em;
} */

/* .message p{
    font-size: 16px;
    text-align: justify;
}

.message #user {
    margin-left: 20%;
    direction: rtl;
    text-align: justify;
}

.message #ai {
    margin-right: 20%;
} */

/* .senderIcon {
    width: 3em;
    height: 3em;
    border-radius: 100px;
    background-color: white;
    margin-bottom: 1rem;
} */

/* .senderIcon#user {
    margin-left:96%;  
    background-color: grey;
}
.senderIcon#ai {
    margin-left:0%; 
    background-color: blue;
} */
