.messageContainer {
    text-align: left;
    margin: 2em;
}

.messageUser {
    font-size: 16px;
    text-align: justify;
    margin-left: 20%;
    text-align: right;
}

.messageAi {
    font-size: 16px;
    text-align: justify;
    margin-right: 20%;
}

.userIcon {
    margin-left: calc(100% - 1.5em);
    margin-bottom: 1rem;
}

.aiIcon {
    margin-left: -1.5em;
    margin-bottom: 1rem;
}
