.messageContainer {
    text-align: left;
    margin: 2em;
}

.messageUser {
    font-size: 16px;
    text-align: justify;
    margin-left: 20%;
    direction: rtl;
}

.messageAi {
    font-size: 16px;
    text-align: justify;
    margin-right: 20%;
}

.senderIconUser {
    width: 3em;
    height: 3em;
    border-radius: 100px;
    background-color: white;
    margin-bottom: 1rem;
    margin-left:96%;  /*random number aligning right icon: standing in for actual math*/
    background-color: grey;
}

.senderIconAi {
    width: 3em;
    height: 3em;
    border-radius: 100px;
    background-color: white;
    margin-bottom: 1rem;
    margin-left:0%;  /*random number aligning right icon: standing in for actual math*/
    background-color: blue;
}
