.chatBox {
    display: flex; 
    flex-direction: column;
    margin-top: 20px;
    justify-content: flex-end;
    position: relative;
    box-sizing: border-box;
    height: calc(100% - 30px - 5em); /* 100% - margin - navbar height */
    background-image: url("../assets/millennium_bg.png");
    background-size: cover;
    background-color: rgb(20, 31, 62);
    border: solid white; 
    border-radius: 20px;
    padding: 0 2em 1em;
}

.inputContainer {
    position: relative;
    line-height: 1;
    margin: 1em 1em 0;
}

.sendButton {
    position: absolute;
    top: calc(50% - 1.6px); /* 1.6px is a fix for some inputContainer height weirdness */
    right: 12px;
    transform: translate(0, -50%);
    box-sizing: border-box;
    padding: 0;
    height: 48px;
    width: 48px; 
    line-height: 1;

    display: flex;
    text-align: center;
    align-items: center;

    background-color: #004176;
    color: white;
    border: solid white;
    border-radius: 20px;
    font-size: 20px;
}

.chatInputField {
    box-sizing: border-box;
    width: 100%;
    height: calc(4em + 4.8px);  /* 3em padding + 1em text + 4.8px border */ 
    line-height: 1;
    background-color: #004176;
    font-size: 16px;
    border: solid white;
    padding: 1.5em;
    padding-right: 72px;
    color: white;
    resize: none;
    border-radius: 20px;
    overflow: hidden;
}

.chatInputField::placeholder {
    color: rgb(196, 196, 196);
}

.chatInputField:hover {
    box-shadow: 0 0 4px 4px rgba(137, 214, 255, 0.7); 
}

.sourcetag {
    position: absolute;
    top: 50px;
    bottom: 10px;
}

.messageBox {
    flex-direction: column;
    align-items: flex-end;
    width: inherit;
    /* overflow:scroll; */
    overflow-x: hidden;
    /* margin-bottom: 20px; */
}

.messageBox::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
  
.messageBox::-webkit-scrollbar-button {
    display: none;
}

.messageBox::-webkit-scrollbar-track {
    background-color: transparent;
    margin: 6px;
}

.messageBox::-webkit-scrollbar-thumb {
    background-color: rgba(240, 248, 255, 0.33);
    border-radius: 6px;
}

.bottomContainerLoading {
    height: calc(3em + 1rem); /* spinner height + spinner bottom margin */
}

.spinner {
    position: absolute;
    display: flex;
    margin-bottom: calc(4em + 36.8px + 1rem); /* input height + input padding and border + icon bottom margin  */
    margin-left: 0.5em;
}


.suggestionContainer {
    display: flex;
    margin-top: 20px;
    justify-content: top;
}
.suggestion_col {
    flex: 1;
}

