.messageContainer {
    text-align: left;
    overflow: hidden;
}

.messageUser {
    font-size: 16px;
    text-align: justify;
    margin-left: 20%;
    text-align: right;
    background-color: #034072;
    padding: 15px;
    border-radius: 20px;
    float: right;
}

.messageAi {
    font-size: 16px;
    text-align: justify;
    margin-right: 20%;
}
.messageSystem {
    font-size: 16px;
    text-align: center;
    /* margin-left: 50%;
    margin-right: 50%; */
}
.userIcon {
    margin-left: calc(100% - 3em);
    margin-top: 1rem;
}

.aiIcon {
    margin-top: 1rem;
}
