





.headshot {
    height: 150px;
    width: 150px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    /* animation: bubbleAnim 5s ease-in-out infinite;
    transition: all 1s ease-in-out; */
    border-radius: 50%;
}
img {
    position: absolute;
    height: 100%;
    width: 100%;

    top: 0;
    left: 0;
}

.info{
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    opacity: 0;
    background: white;
    position: absolute;
    transition: opacity 0.5s, height .65s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 50;

}
.info h1{
    font-weight: 550;
    font-size: 18px;
    color: black;
    margin: 2px;
    opacity: 0;
    transition: opacity 0.5s;
    font-family: nimbus-sans, sans-serif;

}
.info p{
        font-weight: 550;
        font-size: 14px;
        color: black;
        margin: 2px;
        opacity: 0;
        transition: opacity 0.5s;
        font-family: nimbus-sans, sans-serif;
    
}

.headshot:hover .info{
    opacity: 1;
    height: 100%;
    cursor:default;
}

.headshot:hover .info p{
    opacity: 1;
}
.headshot:hover .info h1{
    opacity: 1;
}


@keyframes bubbleAnim {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40% ;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60% ;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40% ;
    }
}