





.headshot {
    background: url(https://images.unsplash.com/photo-1517849845537-4d257902454a?q=80&w=2835&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center center;
    height: 150px;
    width: 150px;
    margin: 20px;
    overflow: hidden;


    animation: bubbleAnim 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
    border-radius: 50%;
}

.info{
    width: 100%;
    height: 100%;
    opacity: 0;
    background: white;
    position: relative;
    transition: opacity 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.info p{
        font-weight: 550;
        font-size: 22px;
        color: black;
        margin: 2px;
        z-index: 10;
        opacity: 0;
        transition: opacity 0.5s;
        font-family: nimbus-sans, sans-serif;
    
}

.headshot:hover .info{
    opacity: 1;
    cursor:default;
}

.headshot:hover .info p{
    opacity: 1;
}


@keyframes bubbleAnim {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40% ;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60% ;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40% ;
    }
}