.modal {
    width: 270px; 
    height: 140px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    margin: 0 0 20px;
}

.deleteButton {
    margin-left: 20px;
}
